<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">新規投稿</h1>
    <%= form_tag("/posts/create") do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <%= text_area_tag :content, @post.content %>
          <input type="submit" value="投稿を確認">
        </div>
      </div>
    <% end %>
  </div>
  <footer class="footer">
    <p>Twitter Clone "TweetApp"</p>
  </footer>
</div>
